.btDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btDiv > button {
    margin-left: 10px;
}

.page {
    
    display: inline-flex;
    padding-left: 5px;
}

.pagebt{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 53px;
    margin-left: 10px;
    padding: 12.75px, 17px;
    background-color: lightskyblue;
    border-radius: 5px;
}

.pagebtf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 53px;
    margin-left: 10px;
    padding: 12.75px, 17px;
    background-color:darkgray ;
    border-radius: 5px;
}